<ion-header>
  <ion-navbar>
    <ion-title >
      A Weather App
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="pushWeatherTrackingPage()">
        <ion-icon name="partly-sunny"></ion-icon>
      </button>
      <button ion-button icon-only (click)="pushSettingsPage()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="cityQuery" placeholder="Search by city"></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="weatherDataQuery(this.cityQuery)">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

  <ion-card *ngIf="weatherObj!=null">
    <ion-card-header>
      <ion-navbar>
          <ion-card-title>{{weatherObj.location}}</ion-card-title>
          <ion-buttons end>
              <button ion-button icon-only (click)="addWeatherList(weatherObj.location)">
                <ion-icon name="add"></ion-icon>
              </button>
          </ion-buttons>
      </ion-navbar>
    </ion-card-header>

    <ion-card-content>
      <ion-item *ngIf="tempUnits==true">Temperature: {{weatherObj.temperatureC | number: '0.0-1'}}°C</ion-item>
      <ion-item *ngIf="tempUnits==false">Temperature: {{weatherObj.temperatureF | number: '0.0-1'}}°F</ion-item>

      <ion-item>Humidity: {{weatherObj.humidity}}%</ion-item>

      <ion-item *ngIf="windUnits==true">Wind: {{weatherObj.windSpeedMetric | number: '0.0-1'}}km/h</ion-item>
      <ion-item *ngIf="windUnits==false">Wind: {{weatherObj.windSpeedImperial | number: '0.0-1'}}m/h</ion-item>

      <ion-item>{{weatherObj.description}}</ion-item>
    </ion-card-content>
  </ion-card>

  <!-- https://stackoverflow.com/a/45359708 -->
  <ion-footer> 
    <ion-grid>
      <ion-row no-padding no-margin>
        <ion-col col-12 no-padding>
            <button ion-button (click)="loadGPS()" outline block>weather at my location</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>

  <!-- <button ion-button (click)="DEBUG_CLEAR_STORAGE()">DEBUG_CLEAR_STORAGE</button> -->
</ion-content>

