<ion-header>
  <ion-navbar>
    <ion-title>
      Weather!
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="pushSettingsPage()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="cityQuery" placeholder="Search by city"></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="weatherDataQuery()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  
  <ion-card *ngIf="location!=null">
    <ion-card-header>
      
      <ion-card-title>{{location}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>Description: {{description}}</ion-item>
      <ion-item>Humidity: {{humidity}}%</ion-item>

      <ion-item *ngIf="units==true">Temperature: {{temperatureC}}°C</ion-item>
      <ion-item *ngIf="units==false">Temperature: {{temperatureF}}°F</ion-item>

      <ion-item *ngIf="units==true">Wind: {{windSpeedMetric}}km/h</ion-item>
      <ion-item *ngIf="units==false">Wind: {{windSpeedImperial}}m/h</ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

