<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label *ngIf="tempUnits==true">Temperature Units: °Celsius</ion-label>
    <ion-label *ngIf="tempUnits==false">Temperature Units: °Fahrenheit</ion-label>
    <ion-toggle [(ngModel)]="tempUnits" (ionChange)="toggleTempUnits()"></ion-toggle>    
  </ion-item> 

  <ion-item>
      <ion-label *ngIf="windUnits==true">Wind Speed Units: km/h</ion-label>
      <ion-label *ngIf="windUnits==false">Wind Speed Units: mph</ion-label>
      <ion-toggle [(ngModel)]="windUnits" (ionChange)="toggleWindUnits()"></ion-toggle>    
  </ion-item> 
</ion-content>
